<footer>
<div class="footer">
    <div class="foot1">
        <p >Designed and Created By</p>
        <p class="name-foot">Deepanshu Sharma</p>
        <p class="copyright">COPYRIGHT © 2020</p>
    </div>
    <div class="foot2">
        <div class="foot2-container">
            <div class="foot2-top">
                <div class="useful-links">
                        <h1>USEFUL LINKS</h1>
                        <ul class="ul-useful-list">
                            
                            <li><a href="#">html</a></li>
                            <li><a href="#">css</a></li>  
                            <li><a href="#">javascript</a></li>        
                            <li><a href="#">node.js</a></li>   
                            <li><a href="#">angular</a></li>  
                            <li><a href="#">react</a></li>    
                        </ul>
                </div>
                <div class="resources">
                    <h1>RESOURCES</h1>
                            <ul class="ul-useful-list">
                            
                            <li><a href="#">Github</a></li>
                            <li><a href="#">Heroku</a></li>  
                            <li><a href="#">openweather</a></li>        
                            <li><a href="#">Wikipedia</a></li>   
                            <li><a href="#">Tutorialspoint</a></li>  
                            <li><a href="#">Youtube</a></li>    
                            <li><a href="#">git</a></li> 
                            <li><a href="#">W3 Schools</a></li> 
                        </ul>
                </div>
            </div>
            <div class="foot2-bottom">
                <a href="#"><i class="fab fa-github-square"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                
                <a href="#"><i class="fab fa-twitter-square"></i></a>
                <a href="#"><i class="fab fa-node-js"></i></a>
                <a href="#"><i class="fab fa-reddit-square"></i></a>

                

            </div>
        </div>


    </div>


</div>
</footer>