<div class="header">
<div class="header-container">
    <a class="header-links" href="/">HOME</a>
    <a class="header-links" href="/weather">WEATHER</a>
    <a class="header-links" href="/about">ABOUT</a>
    <a class="header-links" href="/docs">DOCS</a>


</div>



</div>