body{
    margin:0%;
    padding:0%;
    font-family:arial;
    width:100%;
   
}

/* -------------------------------------header-----------------------------------------------------------------------------------------*/
.header{
    width:100%;
    background-color: rgb(32, 34, 34);
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:10px solid rgba(0, 177, 106, 1);
    position:sticky;
    top:0;
    z-index:100;
}
    
.header-container{
    
    padding-top:5vh;
    padding-bottom:5vh;
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    top:0;
  
}
.header-links{
    color:white;
    text-decoration:none;
    font-size:20px;
    font-family:arial;
    font-weight:300;
}
.header-links:hover{
    color:rgba(0, 177, 106, 1);
    transition-duration: 0.6s;
}


/*-----------------------------------------------------------------------------------------------------------------------------------*/
.container-cover{
    width:100%;
    background-color:rgba(0, 177, 106, 1);
    height:80vh;
    display:flex;
    justify-content:space-around;
    align-items: center;    
}
.cover{

    color:rgb(226, 224, 224);
    
    font-family:arial; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation-name: appear;
    animation-duration:2s;

    
}
.btn-get-started{
    background-color:white;
    padding:10px 60px 10px 60px;
    margin-top:40px;
    border:0.2px solid white;
    border-radius:20px;
    color:black;
    text-decoration:none;
    font-family:arial;
    font-size:20px;
    font-weight:300;
}
.btn-get-started:hover{
    background-color:rgb(32, 34, 34);
    color:white;
    transition-duration: 0.6s;
    border:none;

}

.fas{
    color:rgb(226, 224, 224);
    font-size:200px;
   
}
/*---------------------footer-----------------------*/
.footer{
    
    height:70vh;
    width:100%;
    background-color:rgb(32, 34, 34);
    border-top:2px solid rgba(0, 177, 106, 1);
   
   
    }
.foot1{
    color:white;
    padding-top:30px;    
    height:20%;
    text-align:center;
    font-family:arial;
    font-size:20px;
    font-weight:300;    
  
    
}

.copyright{
    font-size:10px;
}

.name-foot{
    font-size:15px;
    color:rgba(0, 177, 106, 1);
}
.foot2{
    background-color:rgb(21, 22, 22);
    height:80%;
}
.foot2{
    display:flex;
    justify-content: space-around;
    align-items: center; 
}
.foot2-container{
    width:80%;
    height:80%;
    
    

}
.foot2-top{
    
    height:90%;
    display:flex;
    font-family:arial;
    font-size:20px;
    font-weight:300;  
    color:rgb(78, 78, 78);
}
.foot2-bottom{
    
    height:10%;
}
.useful-links{
    
    width:50%;
}
.resources{
    
    width:50%;
}
.ul-useful-list li{
    list-style-type: none;
    color:rgb(150, 150, 150);
}
li a{
    color:rgb(146, 146, 146);
    text-decoration:none;
    padding:1px;
    
}
.foot2-bottom a{
    font-size:30px;
    color:white;
    padding:10px;
}



@keyframes appear{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
/*---------------------------------------------------*/
.container-weather{
    height:80vh;
    width:100%;
    display:flex;
    justify-content: space-between;
    
}
.search-container{
    
    height:100%;
    width:40%;
   
}
.forecast-container{
    
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:55%;
  
   
}
.jumbotron{
    width: 100%;
    height:60%;
    background-color:rgba(210, 215, 211, 1);
    margin:10% 0px 0px 5%;
}
.weather-head{
    font-family:arial;
    font-size:90px;
    font-weight:300;  
    color:rgb(48, 47, 47);
    padding:5% 0% 0% 5%;
 

    
}

form{
  
    width:80%;
    padding-left:5%;
   
}
input{
    height:46px;
    width:60%; 
    border:2px solid black; 
    border-radius:10px;  
    font-size:20px; 
    box-shadow:1px 1px 10px rgb(77, 76, 76) inset;
}
.search-btn{
    background-color:rgb(21, 22, 22);
    color:white;
    padding:15px;
    font-size:20px;
    border:0px solid white;
    border-radius:10px;
    
}
.wh-size{
    font-size:26px;
    
}
.container-about{
    height:80vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  

}
.card{
    width:80%;
    height:80%;
    background-color:rgb(32, 34, 34);
    box-shadow:2px 2px 30px black;
    display:flex;

}
.card-img{
    height:100%;
    width:30%;
    /* border:2px solid magenta; */
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
    
    border-right:1px solid rgb(82, 81, 81);

}
.card-info{
    height:100%;
    width:70%;
    /* border:2px solid magenta; */

  
}
.img-self{
    width:70%;
    border:5px solid rgba(0, 177, 106, 1);
    border-radius:200px;
}
.name-self{
    font-family:arial;
    font-size:40px;
    padding-top:10%;    
     
    color:rgba(0, 177, 106, 1);
}

.forecast{
    
    background-size: cover;
    background-position: center;
    height:95%;
    width:85%;
    /* border:2px solid magenta;     */
    

}
/* .bar-g:before{
    content:' ';
    width:10px;
    background-color:white;
    display:block;
    z-index:1000;
    width:50%;
    height:100%;
    opacity:0.04;
    
}
.bar-b:before{
    content:' ';
    width:10px;
    background-color:white;
    display:block;
    z-index:1000;
    width:50%;
    height:100%;
    opacity:0.04;
    
} */
.forecastbar1{
    height:40%;
    background-image: url("/images/clouds.jpg");
    background-size: cover;
    background-position: center;
    
    width: 100%;
    
    display:flex;

        
}
.forecastbar{
    height:20%;
    
    width: 100%;
   
    
}
.bar-g{
    background-color:rgba(0, 177, 106, 1);
    box-shadow:3px 3px 10px black;
    
}
.bar-b{
    background-color:rgb(32, 34, 34);
    box-shadow:2px 2px 20px black;
}

.location{
    width:70%;
    height:100%;
    background-color:rgba(0, 177, 106, 0.7);

}
.day-night{
    width:30%;
    background-color:rgba(0, 177, 106, 0.7);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.fa-cloud-sun{
    color:rgb(32, 34, 34);
    font-size:100px;
    
}
.fa-cloud-moon{
    color:rgb(32, 34, 34);
    font-size:100px;
}
.location-head{
    font-family:arial;
    font-size:20px;  
    color:rgb(32, 34, 34);
    padding-left:10%;
    
    width:100%;
    height:30%;
}
.place{
    font-family:arial;
    font-size:30px;  
    color:rgb(32, 34, 34);
    
    text-align:center;
    width:100%;
    height:40%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.country{
    font-family:arial;
    font-size:20px;  
    color:rgb(32, 34, 34);
    
    display: flex;
    width:100%;
    height:15%;
    align-content: flex-end;
    justify-content: flex-end;

}
.count{
    font-family:arial;
    font-size:20px;  
    color:rgb(32, 34, 34);
}
.temp{
    display:flex;
        

}
.log{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    width:50%;

}
.logs{
    display:flex;
}
.log2{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    width:33%;
    font-size:10px;
}

.desc{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center
}
.tech-stack{
   
    width:100%;
    height:90%;
    display:flex;
}
.tech{
   
    width:20%;
    font-size:120px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgba(0, 177, 106, 10);
 

}
.tech .fab:hover{
    color:white;
    font-size:130px;
    transition-duration:0.4s;
}
.card-footer{
    
    width:100%;
    text-align:center;
}
.about-me{
    width:90%;
    height:80%;

    margin:auto;
  
}
.abt-me{
    font-family:arial;
    font-size:30px;  
    color:rgba(0, 177, 106, 1);
    
}
.docs-mssg{
    font-family:arial;
    font-size:30px;  

    text-align:center;
}

.container-docs{
    height:80vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;;

}